body {
  font-family: Arial, sans-serif;
  display: flex;
  margin: 20px;
  gap: 20px;
  background-image: url('../static/bg.jpg');
  background-size: cover;
  background-position: center;
}

h1, h2, h3 {
  color:#ededed;
}

.column {
  flex: 1;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-image: url('../static/bg.jpg');
  background-size: cover;
  background-position: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background: #f3f3f3;
}

td{
  color: white;
}

.message {
  background: #d4edda;
  color: #155724;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  display: none;
}

.loading {
  text-align: center;
  margin-top: 20px;
}